<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="more.cpp" version="0.2.5645.23770" targetFramework="Native" />
  <package id="rxcpp" version="2.1.1" targetFramework="Native" />
  <package id="win32.cpp" version="0.2.5646.21438" targetFramework="Native" />
  <package id="xclib" version="3.8.0.25063" targetFramework="Native" />
  <package id="xclib.cpp" version="0.2.5646.23622" targetFramework="Native" />
</packages>