<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="more.cpp" version="1.0.0.107" targetFramework="Native" />
  <package id="rxcpp" version="2.1.1" targetFramework="Native" />
  <package id="win32.cpp" version="1.0.0.108" targetFramework="Native" />
  <package id="xclib" version="3.8.0.25063" targetFramework="Native" />
  <package id="xclib.cpp" version="1.0.0.103" targetFramework="Native" />
</packages>