<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="more.cpp" version="0.1.5638.24106" targetFramework="Native" />
  <package id="rxcpp" version="2.1.1" targetFramework="Native" />
  <package id="win32.cpp" version="0.1.5638.24619" targetFramework="Native" />
  <package id="xclib" version="3.8.0.25063" targetFramework="Native" />
  <package id="xclib.cpp" version="0.1.5638.25100" targetFramework="Native" />
</packages>